:root{
    --primary: #296EB4;
    --dark: #000000;
    --light: #FFF;
}

body{
    font-family: "Manrope", sans-serif;
}
/* ::-webkit-scrollbar{
    background-color: #fff;
}

 /* ::-webkit-scrollbar-track{
    background: rgb(0,0,0);
} */

.App{
    position: relative;
}


/* Bootstrap Redefinitions */
.text-primary{
    color: var(--primary) !important;
}

.bg-primary{
    background-color: var(--primary) !important;
}

.btn-primary{
    background-color: var(--primary) !important;
}

.text-dark{
    color: var(--dark) !important;
}

.bg-dark{
    background-color: var(--dark) !important;
}

.text-light{
    color: var(--light) !important;
}

.bg-light{
    background-color: var(--light) !important;
}

/* TEMPORARY */
/* WILL GO IN SEPARATE CSS FILE */
.hero-text{
    font-size: 10rem;
}