.hero-text{
    font-size: 12rem;
    position: sticky;
    width: 100vw;
    top: 10vh;
    text-align: right;
    transition: all .1s ease;
    line-height: 8rem;
    height: 24rem;
    z-index: 2;
}

.hero-text span{
    font-size: 7rem;
}

.hero-about-text{
    bottom: 5vh;
    left: 0;
    width: 50%;
}

.hero-sig{
    position: absolute;
    z-index: 1;
    top: 50vh;
    transform: translate(-60%, -50%);
    left: 40%;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes line-animRev1 {
    from {
        stroke-dashoffset: 0;
    }

    to{
        stroke-dashoffset: 795px;
    }
}

@keyframes line-animRev2{
    from {
        stroke-dashoffset: 0;
    }

    to{
        stroke-dashoffset: 1328px;
    }
}

@keyframes line-animRev3{
    from {
        stroke-dashoffset: 0;
    }

    to{
        stroke-dashoffset: 1705px;
    }
}

.hero-sig path:nth-child(1){
    stroke-dasharray: 795px;
    stroke-dashoffset: 795px;
    animation: line-anim 1s ease forwards;
}

.hero-sig path:nth-child(2){
    stroke-dasharray: 1328px;
    stroke-dashoffset: 1328px;
    animation: line-anim 2s ease forwards;
}

.hero-sig path:nth-child(3){
    stroke-dasharray: 1705px;
    stroke-dashoffset: 1705px;
    animation: line-anim 3s ease forwards;
}

.hero-img{
    bottom: 0;
    right: 5vw;
}

.hero-anim{
    position: absolute;
    transition: all .1s ease;
}

.hero{
    height: 200vh;
    background: rgb(255, 255, 255);
    position: relative;
    transition: all .1s ease;
}
