:root{
    --purple: #5B00CF;
    --lightpurple: #905ECF;
    --lightslate: #CFCFCF;
    --slate: #999999;
    --darkpurple: #140724;
}


.navigation{
    position: sticky;
    bottom: 5%;
    left: 100%;
    padding: 0 5% 0 5%;
    display: inline-flex;
    
    align-items: flex-end;
    flex-direction: column;
    z-index: 0;
}

.nav-links{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.nav-socials a{
    margin-left: 1rem;
}

.nav-toggle:hover{
    color: var(--lightslate);
}

.active{
    color: var(--lightslate);
}


@media only screen and (max-width: 600px){
    .navigation{
        display: none;
    }
}