:root{
    --purple: #5B00CF;
    --lightpurple: #905ECF;
    --lightslate: #CFCFCF;
    --slate: #999999;
    --darkpurple: #140724;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    width: 50%;
    height: 50%;
    display: block;
}

canvas:hover{
    cursor: url('../images/canvashover.png'), auto !important;
}


  