:root{
    --purple: #5B00CF;
    --lightpurple: #905ECF;
    --lighterpurple: rgba(90, 0, 207, .1);
    --transpurple: rgba(90, 0, 207, .4);
    --lightslate: #CFCFCF;
    --slate: #999999;
    --darkpurple: #140724;
}

.snake{
    position: relative;
    width: 100%;
    height: 100vh;
}

.snake-control{
    position: absolute;
    left: 50%;
    
}

.snake-control h2 span{
    color: var(--lightslate);
}

.snake-control h2 i{
    display: inline-flex;
    vertical-align: middle;
}

.snake-info{
    position: absolute;
    justify-content: space-between;
    left: 50%;
    display: flex;
    /* align-items: center; */
}

.snake-info h2 span{
    color: var(--lightslate);
}

.snake-gameover{
    background-color: var(--transpurple);
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    
}

.snake-gameover h3 span{
    color: var(--lightpurple);
}

.snake-restart{
    border: 2px solid var(--lightpurple);
    
    color: var(--lightpurple);
}

.snake-restart:hover{
    background-color: var(--purple);
    color: var(--lightpurple);
    border-color: var(--purple);
}